*/terraform.tfvars
*/terraform.tfstate
*/terraform.tfstate.backup
*/.terraform
*/mykey*
first-steps/.terraform.lock.hcl
demo-1/.terraform.lock.hcl
demo-1/terraform.tfvars.tf
demo-3/.terraform.lock.hcl
demo-3/.terraform.tfstate.lock.info
